.youtube-relative-wrapper {
    position: relative;
    margin-bottom: 60px;
}

.youtube-wrapper {
    background: var(--bg-primary);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    /*clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);*/
    padding: 60px 60px 160px;
}

.landing-block-description {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    max-width: 480px;
    margin-top: 80px;
}