.menu {
    height: 100px;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-link {
    font-family: 'Raleway', sans-serif;
    color: var(--main-color);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: inline-flex;
}

.menu-link + .menu-link {
    margin-left: 18px;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-primary);
    color: #fff;
    padding-top: 75px;
    padding-bottom: 276px;

    /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);*/

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.hero-wrapper h1 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

.hero-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 30px 50px;
    width: 100%;
    background: #ffffff;
    margin-top: -200px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-sub h2 {
    color: #02066f;
    font-weight: 700;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    line-height: 72px;
    max-width: 520px;
}